registry=https://registry.npmjs.org
proxy=http://172.25.96.1:7897
https-proxy=http://172.25.96.1:7897
store-dir=.pnpm-store
# for wsl
# on cli 
# pnpm config set store-dir "/mnt/c/.pnpm-store/v3" --global
# or in global config ~/.npmrc
# store-dir=/mnt/c/.pnpm-store/v3