# https://docs.npmjs.com/cli/v8/configuring-npm/npmrc
# ini-formatted list of key = value parameters
registry=https://registry.npmjs.org
# for wsl
proxy=http://172.25.96.1:7897
https-proxy=http://172.25.96.1:7897
# store-dir=.pnpm-store
shell-emulator=true
shamefully-hoist=false
# undeclared dependencies should not hoist to node_modules root
strict-peer-dependencies=true
auto-install-peers=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=!@types/react
public-hoist-pattern[]=!@types/react
