.section.section-fixed-width {
    width:1200px;
    margin: 0 auto;
}


.section.section-customer .customer-container{
    position: relative;
    display:flex;
    align-items:center;
    height: 280px;
}

.slick-slider {
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
}

.slcik-preview