.embed-responsive {
  position: relative;
  display:block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  &::before {
    display: block;
    content: "";
  }
  > .embed-responsive-item,
  > embed,
  > object,
  > video {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.embed-responsive-21by9:before {
  padding-top:42.857143%
}
.embed-responsive-16by9:before {
  padding-top:56.25%
}
.embed-responsive-4by3:before {
  padding-top:75%
}
.embed-responsive-1by1:before {
  padding-top:100%
}





:root {
  --aspect-ratio-21by9: 42.86%;
  --aspect-ratio-16by9: 56.25%;
  --aspect-ratio-4by3: 75%;
  --aspect-ratio-1by1: 100%;
}

@each $name in  (1by1,4by3,16by9,21by9) {
  .embed-responsive-$(name)::before{
    padding-top: var(--aspect-ratio-$(name));
  }
}



/*
$aspect-ratios: (
  "21/9": 42.857143%,
  "16/9": 56.25%,
  "4/3": 75%,
  "1/1": 100%
);


@each $name, $ratio in $aspect-ratios {
  .embed-responsive-$(name)::before {
    padding-top: $(ratio);
  }
}
*/




